@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100;1,200;1,300;1,400&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Fira Sans', sans-serif;
}


body{
    background: url('https://c4.wallpaperflare.com/wallpaper/920/588/52/synthwave-8-bit-cityscape-pixels-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1.navbar-titulo{
    font-size: 3rem;
    text-align: center;
    background-color: blueviolet;
    padding: 1rem;
    border-radius: 0em 0em 1em 1em;
}

main.form h3{
    margin-b: 1rem;
    padding-bottom: 1rem;
}

div.row{
    display: inline-block;
}

main.form{
    text-align: center;
    background-color: rgba(240, 248, 255, 0.7);
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1em;
}

div.row input{
    margin-bottom: .3rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    padding: .2rem;
    border: 1px solid black;
}

div label{
    margin: 2rem;
}

input#senioridade.form-control{
    margin-bottom: .3rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    padding: .2rem;
    border: 1px solid black;
    width: 35%;
}

button.btn-btn-success{
    background-image: linear-gradient(to right, rgb(129, 1, 189) , rgb(183, 0, 255));
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 2rem;
    margin-top: 2rem;
    transition: .4s;
}

button.btn-btn-success button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.row-card{
    display: flex;
    margin: 5rem 0rem 5rem 0rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

section.container-card div.card-body{
    background-color: aliceblue;
    padding: 2rem;    
    border-radius: 1rem;
    
}

div.card-body{
    width: 365px;
    margin: 1rem;
    padding: 1rem;
    border-radius: .7rem;
    background-color: rgb(240, 248, 255);
}

p.card-descricao, .card-senioridade{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem;
}

p.card-senioridade{
    font-weight: 700;
    font-size: 2rem;
    padding: .3rem;
    background-image: linear-gradient(to right, rgb(129, 1, 189) , rgb(183, 0, 255));
    border-radius: 3rem;
}

p.card-titulo{
    word-break: break-all;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    margin: .2rem;
}

img.card-img{
    border-radius: .7rem;
    margin: .2rem;
    width: 350px;
    height: 480px;
}

button.btn-btn-primary, .btn-btn-danger{
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem;
    border: none;
    border-radius: .3rem;
}

button.btn-btn-danger{
    background-color: rgba(224, 12, 12, 0.8);
    color: rgb(0, 0, 0);
}

button.btn-btn-primary{
    background-color: rgba(5, 202, 31, 0.9);
    color: rgb(0, 0, 0);
    margin-right: 9rem;
}

.boxFooter h1{
    bottom: 0;
    text-align: center;
    background-color: rgba(224, 199, 246, 0.911);
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 2em 2em 0em 0em;
    font-size: 3rem;
    color: black;
    font-weight: 300;
    text-align: center;
}

a.direct-git{
    text-decoration: none;
    font-weight: 800;
    color: black;
}


/* CSS BOTÃO CHECKED P/ FILME ASSISTIDO */
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(175, 175, 175);
}

.container:hover input ~ .checkmark {
    background-color: #05aa2e78;
}

.container input:checked ~ .checkmark {
    background-color: #05aa2e;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* CSS BOTÃO CHECKED P/ FILME ASSISTIDO */